# Obsidian'ın o anki açık sekmeleri tuttuğu geçici dosya (Kesinlikle engellenmeli)
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Eklenti önbellekleri ve sözlükler
.obsidian/plugins/obsidian-git/
.obsidian/caches/
.obsidian/.trash/

# obsidian klasörünün tamamı
.obsidian/

# İşletim sistemi geçici dosyaları
.DS_Store
Thumbs.db

#templates klasörünü gecici olarak ekledim.
templates/

# git.sh eklendi
git.sh
# index.md.bak dosyası eklendi.
index.md.bak
